@charset "UTF-8";

/*очиска стилів*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/
body {
	font-family: "ReformaGroteskMediumC";
	background: #141414;
}
:root {
	--color--rd: #db3138;
}
.wrapper {
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-width: 0;
}
.container {
	margin: 0 auto;
	max-width: 1296px;
	width: 100%;
}
.header {
	font-family: "ReformaGroteskMediumC";
	max-width: 521px;
	font-size: 24px;
	line-height: 120%;
	color: #ffffff;
	letter-spacing: 0.03em;
	margin-top: 40px;
}
.menu__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.center {
	margin: 0 auto;
	max-width: 483px;
	margin-top: 168px;
}
.center__title-h1 {
	font-family: "ReformaGroteskBoldC";
	color: var(--color--rd);
	font-size: 150px;
	line-height: 125%;
}
.diamond {
	padding-right: 29.3px;
}

.diamonds {
	display: flex;
	margin: 40px 0 60.86px;
}

.center__diamonds {
	display: flex;
	justify-content: center;
	margin: 5.93px 0 40px 0;
}
.center__subtitle {
	margin: 0 auto;
	max-width: 432px;
}
.center__subtitle-h2 {
	color: #ffffff;
	font-family: "ReformaGroteskMediumC";

	font-size: 40px;
	line-height: 120%;

	text-align: center;
}
.center__diamond img {
	height: 14.47px;
	padding: 0 14.95px 0 14.95px;
}
.center__button {
	text-align: center;
	margin: 40px 0 103px;
}
.button {
	position: relative;
	z-index: 11;
	padding: 15px 25px 12px 25px;

	width: 169px;
	height: 61px;

	overflow: hidden;
	background-color: rgba($color: #000000, $alpha: 0);
}
.backrgound__button {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	transform: translateX(-37%);
	transition-duration: 1s;
	transition-timing-function: ease;
	background-color: var(--color--rd);
}
.button a {
	white-space: nowrap;
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	position: relative;
	z-index: 11;
	color: #ffffff;
}

.button:hover .backrgound__button {
	transform: translateX(0%);
}

.subcenter {
	width: 100%;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
	border-top: 1px solid rgba($color: #ffffff, $alpha: 0.5);
}

.subcenter__info {
	font-family: "ReformaGroteskDemiC";

	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	width: 100%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
.number {
	border-right: 1px solid rgba($color: #ffffff, $alpha: 0.5);
	border-left: 1px solid rgba($color: #ffffff, $alpha: 0.5);
}
.subcenter__info-content {
	max-width: 265px;
	margin: 43px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.subcenter__info h2 {
	margin: 20px 0 -5px 0;
	font-size: 24px;
	color: var(--color--rd);
	letter-spacing: 0.05em;
}
.content__progress {
	display: flex;
	justify-content: space-between;
	margin-top: 180px;
}
.content__progress-description {
	font-family: "ReformaGroteskMediumC";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;

	letter-spacing: 0.03em;

	/* white */

	color: #ffffff;

	max-width: 636px;
}
.content__progress-description h1 {
	font-family: "ReformaGroteskDemiC";

	font-weight: 600;
	font-size: 52px;
	line-height: 140%;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #ffffff;
}
.description {
	max-width: 526px;
	font-family: "ReformaGroteskMediumC";

	color: #ffffff;
}
.flex__end-diaomonds {
	margin: 0;
}
.content__progress-table {
	display: flex;
}
.column {
	display: flex;
	flex-direction: column;
}
.column__right {
	transform: translate(0, 40px);
}
.column__block {
	display: flex;
	justify-content: center;
	height: 177px;
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.05em;
	color: #ffffff;
	width: 318px;
	border: 1px solid #898989;
}
.column__block-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.column__block h1 {
	font-family: "ReformaGroteskDemiC";

	font-weight: 600;
	font-size: 52px;
	line-height: 72.8px;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: var(--color--rd);
}
.column__block h2 {
	width: 100%;
	max-width: 279px;
}
.column__block-title::before {
	content: "#";
	font-size: 24px;
	line-height: 33.6px;
}

/* Конкретний слайдер */
.slider {
	margin-top: 220px;

	position: relative;
}

.slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	margin-top: -25px;
}
.slider .slick-arrow.slick-arrow.slick-prev {
	left: -110px;
	background: url(../img/left.svg) 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-arrow.slick-next {
	right: -110px;
	background: url(../img/right.svg) 0 0 / 100% no-repeat;
}

/* Ограничивающая оболочка */
.slider .slick-list {
	overflow: hidden;
	height: 415px;
}
/* Лента слайдов */
.slick-track {
	display: flex;
}
.slider__item {
	position: relative;
	margin: 0 12px;
}

.slider__item-block {
	position: absolute;
	width: 366px;
	background-color: var(--color--rd);
	height: 70px;
	top: 315px;
	left: 25px;
}
.slider__item-text {
	max-width: 286px;
	font-family: "ReformaGroteskDemiC";
	transform: translate(0, 30px);
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
	letter-spacing: 0.05em;
	line-height: 140%;
	color: #ffffff;
	font-style: normal;
	text-transform: uppercase;
}
.description__container {
	margin-top: 215px;
	display: flex;
	justify-content: space-between;
}
.description {
	max-width: 526px;
}
.description__title {
	display: flex;
	height: 70px;
	align-items: center;
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 140%;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #ffffff;
}
.description__title h1 {
	margin-left: 30px;
}
.description__subtitle {
	font-family: "ReformaGroteskMediumC";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	margin: 30px 0 40px 0;

	letter-spacing: 0.03em;
}
.description__subtitle-end {
	margin-bottom: 0;
}
.car__slider {
	display: flex;
	max-width: 636px;
	position: relative;
}
.car__slider .slick-arrow {
	position: absolute;
	z-index: 1111;
	top: 590px;
	width: 70px;
	height: 70px;
	font-size: 0;
}
.car__slider .slick-track {
	height: 550px;
}
.car__slider-item {
	position: relative;
}
.car__slider-text {
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	position: absolute;
	bottom: -96px;
	left: 107px;
	max-width: 422px;
	z-index: 1111;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #ffffff;
}

.car__slider-item img {
	height: 100%;
}
.car__slider .slick-arrow.slick-arrow.slick-prev {
	left: 0;
	background: url(../img/left.svg) 0 0 / 100% no-repeat;
}
.car__slider .slick-arrow.slick-arrow.slick-next {
	right: 0;
	background: url(../img/right.svg) 0 0 / 100% no-repeat;
}
.car__slider .slick-list {
	overflow: hidden;
}
.services {
	margin-top: 180.43px;
}
.services__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.services__title-p {
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 52px;
	line-height: 140%;

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #ffffff;
}
.services__diamonds {
	margin: 40px 0 60px 0;
}
.services__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.services__button {
	margin-right: 60px;
	max-width: 181px;
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 140%;
	/* identical to box height, or 45px */
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 20px 40px 10px 40px;
}
.services__img {
	display: flex;
	align-items: center;
	height: 82.84px;
	margin-top: 60px;
}
.services__button a {
	color: #ffffff;
}
.services__button-one {
	background-color: var(--color--rd);
}
.services__container {
	display: flex;
	justify-content: space-between;
}
.services__description {
	margin-top: 80px;
}
.services__description-container {
	max-width: 228px;
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.services__description-container img {
	width: 100%;
	margin: 0 0 27.23px 0;
}
.services__description {
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	/* identical to box height, or 34px */

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* white */

	color: #ffffff;

	max-width: 306px;
	width: 100%;
	height: 428px;
	border: 1px solid #898989;
}
.services__description-h2 {
	margin-bottom: 20px;
}
.services__description-h3 {
	font-size: 16px;
	margin-bottom: 25px;
	line-height: 22.4px;
}
.button__services {
	max-width: 116px;
	height: 41px;
	padding: 3px 25px 0px 25px;
}
.center__button-services {
	margin: 0;
}
.button__services a {
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;

	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #ffffff;
}
.works {
	margin: 180px 0 120px 0;
}
.works__container {
	margin: 0 auto;
	max-width: 636px;
}
.works__diamonds {
	margin-top: 40px;
}
.works__car {
	display: flex;
	flex-direction: column;
}
.works__car-content {
	width: 320px;
	height: 280px;
}
.works__car-flex {
	display: flex;
}
.question {
	max-width: 636px;
	width: 100%;
	margin: 0 auto;
}
.question__form {
	width: 100%;
}
.question__form-data {
	display: flex;
	height: 47px;
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* white */

	color: #ffffff;
	margin-bottom: 24px;
}
.question__form-center {
	display: flex;
	justify-content: space-between;
}

.picture {
	width: 40px;
	height: 40px;
	border: 1px solid #898989;
	margin-bottom: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.question__form-name {
	border: 1px solid #898989;
	background-color: #141414;
	max-width: 306px;
	width: 100%;
	padding: 15px 25px 10px 25px;
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* white */

	color: #898989;
}
.question__form-name:focus {
	border: 1px solid var(--color--rd);
	color: #ffffff;
	transition: all 0.5s ease;
}
.question__form-name:focus::-webkit-input-placeholder {
	color: #ffffff;
}
.question__form-number {
	margin-left: 24px;
}
.question__form-design {
	width: 100%;
	max-width: 526px;

	height: 150px;
}
.center__button-question {
	display: flex;
	margin: 0;
}

.question__form-end {
	display: flex;
	justify-content: space-between;
}
.question__form-location {
	display: flex;
	align-items: center;
}
.question__form-location2 {
	margin: 15px 0 0 28px;
}
.question__form-text {
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	/* or 22px */

	letter-spacing: 0.05em;
	text-transform: uppercase;

	/* white */

	color: #ffffff;
	margin: 0 0 0 14px;
}
.question__form-img {
	margin: 0 0 0 32.57px;
}
.footer {
	margin-top: 100px;
	border-top: 1px solid #898989;
	height: 89px;
}
.footer__flex {
	height: 89px;
	display: flex;

	justify-content: space-between;
	align-items: center;
}
.menu__footer {
	max-width: 521px;
	width: 100%;
	font-family: "ReformaGroteskMediumC";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */

	text-align: center;
	letter-spacing: 0.03em;

	/* white */
}
.menu__header-li a {
	color: #ffffff;
}
.footer__description {
	max-width: 589px;
}
.footer__description-text {
	font-family: "ReformaGroteskDemiC";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	color: #ffffff;

	opacity: 0.5;
}

@media (max-width: 1601px) {
	.slider .slick-arrow.slick-arrow.slick-prev {
		left: -70px;
		background: url(../img/left.svg) 0 0 / 100% no-repeat;
	}
	.slider .slick-arrow.slick-arrow.slick-next {
		right: -70px;
		background: url(../img/right.svg) 0 0 / 100% no-repeat;
	}
	.works__car-flex {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 1439px) {
	.slider .slick-arrow.slick-arrow.slick-prev {
		left: 0px;
		background: url(../img/left.svg) 0 0 / 100% no-repeat;
	}
	.slider .slick-arrow {
		top: 100%;
	}
	.slider .slick-arrow.slick-arrow.slick-next {
		right: -0px;
		background: url(../img/right.svg) 0 0 / 100% no-repeat;
	}
	.container {
		padding: 0 20px;
	}
}

@font-face {
	font-family: "ReformaGroteskMediumC";
	src: url("/fonts/ReformaGroteskMediumC.eot");
	src: local("ReformaGroteskMediumC"), url("/fonts/ReformaGroteskMediumC.eot") format("embedded-opentype"),
		url("/fonts/ReformaGroteskMediumC.woff") format("woff"),
		url("/fonts/ReformaGroteskMediumC.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "ReformaGroteskDemiC";
	src: url("/fonts/ReformaGroteskDemiC.eot");
	src: local("/fonts/ReformaGroteskDemiC"), url("/fonts/ReformaGroteskDemiC.eot?#iefix") format("embedded-opentype"),
		url("/fonts/ReformaGroteskDemiC.woff") format("woff"), url("/fonts/ReformaGroteskDemiC.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ReformaGroteskBoldC";
	src: url("/fonts/ReformaGroteskBoldC.eot");
	src: local("/fonts/ReformaGroteskBoldC"), url("/fonts/ReformaGroteskBoldC.eot?#iefix") format("embedded-opentype"),
		url("/fonts/ReformaGroteskBoldC.woff") format("woff"), url("/fonts/ReformaGroteskBoldC.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
